    <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Agregar educación</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup] = "itemE" (ngSubmit)="onCrear(itemE.value)" class="form" enctype="multipart/form-data">
          <p>Titulo</p>
          <div class="input-group controls">
            <input formControlName = "titulo" name="titulo" type="text" class="form-control" placeholder="Escriba el titulo obtenido" aria-label="Recipient's username" aria-describedby="basic-addon2"><br>
          </div>
          
          <p>Fecha inicio</p>
          <div class="input-group controls">
            <input formControlName = "inicio" name="inicio" type="date" class="form-control" placeholder="Fecha cuando lo comenzo" aria-label="Recipient's username" aria-describedby="basic-addon2"><br>
          </div>
          
          <p>Fecha finalizado</p>
          <div class="input-group controls">
            <input formControlName = "fin" name="fin" type="date" class="form-control" placeholder="Fecha de cuando lo finalizo" aria-label="Recipient's username" aria-describedby="basic-addon2"><br>
          </div>
  
          <p>Descripcion</p>
          <div class="input-group controls">
            <input formControlName = "descripcion" name="descripcion" type="text" class="form-control" placeholder="Decripcion de el titulo obtenido" aria-label="Recipient's username" aria-describedby="basic-addon2"><br>
          </div>
          
          <p>link de la imagen</p>
          <div class="input-group controls">
            <input formControlName = "img" type="text" name="img" class="form-control" placeholder="link de la imagen" aria-label="Recipient's username" aria-describedby="basic-addon2">
          </div> 
          </form>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button (click)="onCrear(itemE.value)" type="button" class="btn btn-primary">crear</button>
        </div>
      </div>
    </div>
  </div>

<div class="educacion">
    <h1>Mi Educación</h1>
      <svg id="mas" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
    </svg>
    <ul>
        <li class="lista" *ngFor="let educacion of estudio">
            <div class="educacion1">
              
                <img [src]="educacion.img" alt="ImgEducacion" class="ImgYText">
                <div *ngIf="educacion.isEdit">
                  <input type="text" [(ngModel)]="educacion.titulo" class="form-control">
                </div>
                <div *ngIf="!educacion.isEdit" class="educacion1">
                  <h3 class="ImgYText">{{educacion.titulo}}</h3>
                </div>
                <svg (click)="onEditEst(educacion)" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" id="pencil" viewBox="0 0 16 16">
                  <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
              </svg>
              <svg (click)="onBorrar(educacion.id)" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16" id="borrar">
                  <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
              </svg>
                <div *ngIf="educacion.isEdit">
                  <input type="text" [(ngModel)]="educacion.inicio" class="form-control">
                  <input type="text" [(ngModel)]="educacion.fin" class="form-control">
                </div>
                <div  *ngIf="!educacion.isEdit">
                  <p><time>{{educacion.inicio}}</time>-<time>{{educacion.fin}}</time></p> 
                </div>
                <div *ngIf="educacion.isEdit">
                  <input type="text" [(ngModel)]="educacion.descripcion" class="form-control">
                  <input type="text" [(ngModel)]="educacion.img" class="form-control">
                </div>
                <div  *ngIf="!educacion.isEdit">
                  <p>{{educacion.descripcion}}</p> 
                </div>
                <div *ngIf="educacion.isEdit">
                  <button class="btn btn-sm btn-success" (click)="onEnviarEst(educacion)">Aceptar</button>
                  <button class="btn btn-sm btn-success" (click)="educacion.isEdit = false">Cancelar</button>
              </div> 
            </div>
        </li>
      </ul>
</div>