<div class="header">
    <header>
        <div class="logo">
            <img src="/assets/imagenes/arg-programa.png" alt="logoInst">
            <span>Argentina Programa - #YoProgramo</span>
        
            <div class="btn-left mt-2">
                <a class="btn btn-personal" href="https://www.linkedin.com/in/brian-sanchez-151809216/" role="button">Linkedin</a>  
                <a class="btn btn-personal2" href="#" role="button">LogOut</a>
            </div>
        </div>
    </header>
</div>